/*
##########
         Common Rules
##########
*/
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}


/*
##########
         Header
##########
*/
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80px;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo span {
  color: MediumAquamarine;
}

 header nav {
   display: inline-block;
 }

 .container {
   display: flex;
   margin-top: 35px;
 }

 /*
 ##########
          First column
 ##########
 */

 .first-column{
   width: 630px;
   display: flex;
   flex-direction: column;
 }

/*
######
    Main Article
######
*/

.image-content {
  background-image: url(../images/img-story-main.png);
  display: flex;
  justify-content: center;
  height: 300px;
}
.image-content span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

/*
########
      Boxes
########
*/

.boxes {
  display: flex;
  flex-direction: column;

}
/*
######
    Box
######
*/

/*
###
 Under Image Article 1
###
*/

.under-image-article-1 {
  background-image: url(../images/img-story-2.png);
  height: 300px;
}

.under-image-article-1 span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}


/*
######
    Box
######
*/

/*
###
 Under Image Article 2
###
*/

.under-image-article-2 {
  background-image: url(../images/img-story-3.png);
  height: 300px;
}

.under-image-article-2 span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}






/*
##########
         Left News Column
##########
*/

 .left-new-column {
   width: 300px;
   display: flex;
   flex-direction: column;
 }

.image-article {
  background-image: url(../images/img-story-1.png);
  height: 300px;
}

.image-article span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

/*
##########
         Side Titles Column
##########
*/

.side-titles-column {
  width: 240px;
  display: flex;
  flex-direction: column;
}


/*
##########
         Footer
##########
*/
